* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.topNav {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

h1 {
    font-weight: normal;
    color: #282DE7;
    font-size: 50px;
    margin-top: 30px;
    margin-left: -100px;
}

h2 {
    font-weight: normal;
    color: #505050;
    font-size: 34px;
    margin-top: 40px;
}

sup {
    font-size: 20px;
}

.mainImage {
    width: 80px;
    height: auto;
}

.buttonz {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-right: -100px;
    font-family: Arial, Helvetica, sans-serif;
}

.buttonz li {
    margin: 10px;
}

.middle {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #B5B5B5;
}

.nycPlaces {
    margin: 5px;
    margin-top: -1px;
    margin-bottom: 50px;
}

.dropdown {
    background-color: #282DE7;
    display: flex;
    justify-content: center;
}

.blueBox {
    list-style: none;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.categories {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.categories li {
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.catTitle {
    font-size: 15px;
    color: white;
}

.catDivider {
    font-size: 33px;
    color: #6174D6;
    font-weight: lighter;
}


/* main content */

.mainStuff {
    display: flex;
    justify-content: space-evenly;
}


/* right stuff */

.mainMain {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.mainSearch input[type=text] {
    border: none;
    font-size: 38px;
    margin: 20px;
    width: 600px;
}

.mainSearch {
    margin-top: 50px;
    height: 90px;
    width: 700px;
    background-color: #F4F4F4;
    display: flex;
    align-content: center;
    justify-content: center;
}

.insideContent {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.rowContent {
    display: flex;
    justify-content: center;
}

.column h2 {
    font-size: 23px;
    font-style: italic;
    color: #282DE7;
}

.column {
    flex: 50%;
    padding: 5px;
    height: 300px;
}

img {
    max-width: 50%;
    height: auto;
}

.sideNav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleCalendar {
    font-size: 27px;
}

.sideCalendar {
    height: 140px;
    width: 200px;
    background-color: #F4F4F4;
    margin-left: -100px;
    list-style: none;
}

.titleForums {
    font-size: 23px;
    font-style: italic;
}

.sideForums {
    height: 300px;
    width: 200px;
    background-color: #F4F4F4;
    margin-left: -100px;
    list-style: none;
}

.sideButtons1 {
    height: 350px;
    width: 200px;
    background-color: #F4F4F4;
    margin-left: -100px;
    margin-top: 30px;
    /* text */
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.sideButtons1 li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
    margin-top: 20px;
    color: #575757;
}

.sideButtons2 {
    height: 350px;
    width: 200px;
    background-color: #F4F4F4;
    margin-left: -100px;
    margin-top: 30px;
    /* text */
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.sideButtons2 li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
    margin-top: 20px;
    color: #575757;
}


/* BOTTOM THINGY */

.botNav {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-top: 27px;
}

.botButton {
    background-color: #282DE7;
    width: 100%;
}

.blueBox2 {
    list-style: none;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.categories2 {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.categories2 li {
    margin: 20px;
    margin-top: -20px;
    color: white;
}

.catTitle {
    font-size: 15px;
    color: white;
}

@media only screen and (min-width: 481px) and (max-width: 888px) {
    body {
        font-family: 'Times New Roman', Times, serif;
        /* background-color: yellowgreen; */
        margin-left: 95px;
        margin-right: 65px;
        margin-top: -20px;
    }
    .topNav {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }
    .sideNav {
        display: none;
    }
    .middle {
        display: none;
    }
    .dropdown {
        margin-top: 30px;
        margin-left: -95px;
        margin-right: -65px;
    }
    .categories li {
        margin: 10px;
    }
    .nycHeader {
        font-size: 25px;
    }
    .logo {
        font-size: 37px;
    }
    .buttonzItem {
        display: none;
    }
    .mainSearch input[type=text] {
        border: none;
        font-size: 38px;
        margin: 20px;
        width: 100%;
    }
    .mainSearch {
        height: 90px;
        /* background-color: #282DE7; */
        display: flex;
        /* align-content: center; */
    }
    .mainMain {
        display: flex;
        justify-content: space-around;
    }
    .catDivider {
        font-size: 20px;
        font-weight: lighter;
    }
    .categories {
        width: 100%;
    }
    .botButton {
        width: 180%;
        margin-left: -95px;
        margin-right: -65px;
    }
    .botNav {
        margin: 0;
    }
    .categories2 {
        font-size: 12px;
    }
}

@media only screen and (min-width: 20px) and (max-width: 580px) {
    body {
        font-family: 'Times New Roman', Times, serif;
        /* background-color: hotpink; */
        margin-left: 45px;
        margin-right: 35px;
        margin-top: -20px;
    }
    .topNav {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }
    .sideNav {
        display: none;
    }
    .mainSearch input[type=text] {
        border: none;
        font-size: 28px;
        margin: 20px;
        width: 100%;
    }
    .mainSearch {
        height: 90px;
        width: 100%;
        background-color: #282DE7;
        display: flex;
        align-content: center;
        justify-content: stretch;
    }
    .middle {
        display: none;
    }
    .tools {
        display: none;
    }
    .nycHeader {
        display: none;
    }
    .logo {
        font-size: 37px;
    }
    .buttonzItem {
        display: none;
    }
    .rowContent {
        display: flex;
        flex-direction: column;
    }
    .botButton {
        width: 190%;
        margin-left: -45px;
        margin-right: -35px;
        margin-top: 30px;
    }
    .botNav {
        margin: 0;
    }
    .categories2 {
        font-size: 10px;
    }
    .categories2 li {
        margin: -10px;
        margin-bottom: 30px;
    }
}